<section class="MenuPage">
		
		<div class="Header">
                    <table class="HeadTable">
                          <tr >
                               <td class="HeadTdLeft" onClick="navigate('#Main')">
                             		<img src="img/main/back.png"  style="width:100%;">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%;">
                               </td>
                               <td class="HeadTdRight" onClick="AddContentToPopup(2)">
                           			<img src="img/main/menuicon.png"  style="width:100%;">
                               </td>
                           </tr>
                     </table>
       </div>
              
              
 		<div class="Content"> 
           <div>
                  <table id="menuTable12">
                      <tr>
                          <td>
                              <img src="img/menu/restaurant.png"  style="width:100%;" onClick="navigate('#/List')">
                          </td>
                          <td>
                              <img src="img/menu/clubs.png"  style="width:100%;" onClick="navigate('#/List')">
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <img src="img/menu/pubs.png"  style="width:100%; cursor:pointer;" onClick="navigate('#/List')">
                          </td>
                          <td>
                               <img src="img/menu/movies.png"  style="width:100%;" onClick="navigate('#/List')">
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <img src="img/menu/theatre.png"  style="width:100%;" onClick="navigate('#/List')">
                          </td>
                          <td>
                              <img src="img/menu/bowling.png"  style="width:100%;" onClick="navigate('#/List')">
                          </td>
                      </tr> 
                  </table>
           </div>  
      </div>
</section>
        