<section>
	<div  style="position:fixed; top:0px; z-index:100; width:100%; height:100%; overflow:hidden; background-color:black; opacity:0.7" ng-click="closeImportPopup()">
    </div>
	<div style="width:96%; left:2%; margin-top:20%; height:30%; top:30%; position:absolute">
		<div>
            <div id="RatePopUp" style="position:relative; top:0%; left:0%;  width:100%; z-index:1010;">
               <img src="img/rate/rate.jpg"  style="width:100%; position:absolute" />
               <span style="position:relative; top:35px; left:-16%;">
               <div ng-repeat="n in [] | InfoPopUp:5"  style="padding-top:12px; position:relative">
               		<!-- <img id="star{{n+1}}" onClick="Rate('+(i+1)+')" src="img/pubs/star.png" style="width:12%;"> -->
               </div>
               <div style="margin-top:-18%; margin-left:34%; width:70%">
                   <img class="star1" onClick="Rate(1)" src="img/pubs/star.png" style="width:16%;">
                   <img class="star2" onClick="Rate(2)" src="img/pubs/star.png" style="width:16%;">
                   <img class="star3" onClick="Rate(3)" src="img/pubs/star.png" style="width:16%;">
                   <img class="star4" onClick="Rate(4)" src="img/pubs/star.png" style="width:16%;">
                   <img class="star5" onClick="Rate(5)" src="img/pubs/star.png" style="width:16%;">
                </div>                                        											
               </span><div style="position:absolute; width:100%; top:100px; height:100px;" ng-click="closeImportPopup()"></div></div></div> 
                           
        </div>
</section>

    